*{
  background-color: black;
  text-align: center;
}

h1 {
  font-family: Verdana;
  font-size: 50px;
  font-weight: normal;
  color: white;

}

.downland {
  font-size: 16px;
  color: Aquamarine;
}
